<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="submission Form">
        <form action="/upload" method="post">
            <label for="float-input">nitrogen</label>
            <input type="text" inputmode="decimal" 
                id="float-input" name="float-input1" 
                pattern="[0-9]*[.,]?[0-9]*"><br>
            <label for="float-input">phosphorus</label>
            <input type="text" inputmode="decimal" 
                id="float-input" name="float-input2" 
                pattern="[0-9]*[.,]?[0-9]*"><br>
            <label for="float-input">potassium</label>
            <input type="text" inputmode="decimal" 
                id="float-input" name="float-input3" 
                pattern="[0-9]*[.,]?[0-9]*"><br>
            <label for="float-input">temperature</label>
            <input type="text" inputmode="decimal" 
                id="float-input" name="float-input4" 
                pattern="[0-9]*[.,]?[0-9]*"><br>
            <label for="float-input">humidity</label>
            <input type="text" inputmode="decimal" 
                id="float-input" name="float-input5" 
                pattern="[0-9]*[.,]?[0-9]*"><br>
            <label for="float-input">pH</label>
                <input type="text" inputmode="decimal" 
                id="float-input" name="float-input6" 
                pattern="[0-9]*[.,]?[0-9]*"><br>
            <label for="float-input">rainfall</label>
            <input type="text" inputmode="decimal" 
                id="float-input" name="float-input7" 
                pattern="[0-9]*[.,]?[0-9]*"><br>
            <input type="submit" value="Submit">
          </form>
    </div>
</body>
</html>